<%= render(Ui::NavbarComponent.new) %>
<!-- Hero -->
<section
  class="pt-24 md:mt-0 md:h-screen flex flex-col justify-center text-center md:text-left md:flex-row md:justify-between md:items-center lg:px-48 md:px-12 px-4 bg-secondary">
  <div class="md:flex-1 md:mr-10">
    <h1 class="font-pt-serif text-5xl font-bold mb-7">
      <%= I18n.t("landing.index.headline") %>
      <span class="bg-underline1 bg-left-bottom bg-no-repeat pb-2 bg-100%">
          <%= I18n.t("landing.index.headline_ending") %>
      </span>
    </h1>
    <p class="font-pt-serif font-normal mb-7 text-xl">
      <%= I18n.t("landing.index.subheadline") %>
    </p>
    <div class="font-montserrat">
      <%= link_to new_user_registration_path do%>
        <button class="bg-black px-6 py-4 rounded-lg border-2 border-black border-solid text-white mr-2 mb-2">
          <%= I18n.t("landing.index.try_it_free") %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="flex justify-around md:block mt-8 md:mt-0 md:flex-1">
    <div class="relative">
      <%= image_tag 'decorations/Highlight1.svg', class: "absolute -top-16 -left-10", alt: "" %>
    </div>
    <%= image_tag 'splash_landing.png', class: "h-100 m-auto", alt: "Productivity image" %>
    <div class="relative">
      <%= image_tag 'decorations/Highlight2.svg', class: "absolute -bottom-10 -right-6", alt: "" %>
    </div>
  </div>
</section>

<!-- How it works -->
<section class="bg-black text-white sectionSize pb-10">
  <div class="text-center pt-10">
    <h2 class="secondaryTitle bg-underline2 bg-100% pb-8">
      <%= I18n.t("landing.index.how_it_works") %>
    </h2>
  </div>
  <div class="flex flex-col md:flex-row md:px-44">
    <div class="flex-1 mx-8 flex flex-col items-center mb-4">
      <div class="border-2 rounded-full bg-zinc-200 text-black h-12 w-12 flex justify-center items-center mb-3">
        1
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">
        <%= I18n.t("landing.index.list") %>
      </h3>
      <p class="text-center font-montserrat">
        <%= I18n.t("landing.index.description_list") %>
      </p>
    </div>
    <div class="flex-1 mx-8 flex flex-col items-center mb-4">
      <div class="border-2 rounded-full bg-zinc-200 text-black h-12 w-12 flex justify-center items-center mb-3">
        2
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">
        <%= I18n.t("landing.index.modularity") %>
      </h3>
      <p class="text-center font-montserrat">
        <%= I18n.t("landing.index.description_modularity") %>
      </p>
    </div>
    <div class="flex-1 mx-8 flex flex-col items-center mb-4">
      <div class="border-2 rounded-full bg-zinc-200 text-black h-12 w-12 flex justify-center items-center mb-3">
        3
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">
        <%= I18n.t("landing.index.productivity") %>
      </h3>
      <p class="text-center font-montserrat">
        <%= I18n.t("landing.index.description_productivity") %>
      </p>
    </div>
  </div>
</section>

<!-- Features -->
<section class="sectionSize bg-secondary md:px-44 mt-10 mb-10">
  <div class="text-center">
    <h2 class="secondaryTitle bg-underline3 bg-100% pb-10">
      <%= I18n.t("landing.index.features") %>
    </h2>
  </div>
  <div class="md:grid md:grid-cols-2 md:grid-rows-2">

    <div class="flex items-start font-montserrat mb-6 mr-10">
      <img src='dist/assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
      <div>
        <h3 class="font-semibold text-2xl">
          <%= I18n.t("landing.index.feature_1_title") %>
        </h3>
        <p>
          <%= I18n.t("landing.index.feature_1_description") %>
        </p>
      </div>
    </div>

    <div class="flex items-start font-montserrat mb-6 mr-10">
      <img src='dist/assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
      <div>
        <h3 class="font-semibold text-2xl">
          <%= I18n.t("landing.index.feature_2_title") %>
        </h3>
        <p>
          <%= I18n.t("landing.index.feature_2_description") %>
        </p>
      </div>
    </div>

    <div class="flex items-start font-montserrat mb-6 mr-10">
      <img src='dist/assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
      <div>
        <h3 class="font-semibold text-2xl">
          <%= I18n.t("landing.index.feature_3_title") %>
        </h3>
        <p>
          <%= I18n.t("landing.index.feature_3_description") %>
        </p>
      </div>
    </div>

    <div class="flex items-start font-montserrat mb-6 mr-10">
      <img src='dist/assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
      <div>
        <h3 class="font-semibold text-2xl">
          <%= I18n.t("landing.index.feature_4_title") %>
        </h3>
        <p>
          <%= I18n.t("landing.index.feature_4_description") %>
        </p>
      </div>
    </div>

  </div>
</section>

<!-- Pricing -->
<section class="sectionSize bg-secondary py-0 mb-44 px-44 mt-10 hidden">
  <div class="text-center">
    <h2 class="secondaryTitle bg-underline4 mb-0 bg-100%">Pricing</h2>
  </div>
  <div class="flex w-full flex-col md:flex-row">

    <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-24'>
      <h3 class="font-pt-serif font-normal text-2xl mb-4">
        The Good
      </h3>
      <div class="font-montserrat font-bold text-2xl mb-4">
        $25
        <span class="font-normal text-base"> / month</span>
      </div>

      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #1</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #2</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #3</p>
      </div>

      <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
        Choose plan
      </button>
    </div>

    <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-12'>
      <h3 class="font-pt-serif font-normal text-2xl mb-4">
        The Bad
      </h3>
      <div class="font-montserrat font-bold text-2xl mb-4">
        $40
        <span class="font-normal text-base"> / month</span>
      </div>

      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #1</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #2</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #3</p>
      </div>

      <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
        Choose plan
      </button>
    </div>

    <div class='flex-1 flex flex-col mx-6 shadow-2xl relative bg-secondary rounded-2xl py-5 px-8 my-8 md:top-24'>
      <h3 class="font-pt-serif font-normal text-2xl mb-4">
        The Ugly
      </h3>
      <div class="font-montserrat font-bold text-2xl mb-4">
        $50
        <span class="font-normal text-base"> / month</span>
      </div>

      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #1</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #2</p>
      </div>
      <div class="flex">
        <img src='dist/assets/logos/CheckedBox.svg' alt="" class="mr-1" />
        <p>Benefit #3</p>
      </div>

      <button class=" border-2 border-solid border-black rounded-xl text-lg py-3 mt-4">
        Choose plan
      </button>
    </div>
  </div>
</section>