<!-- Footer -->
<section class="bg-black sectionSize">
  <div class="flex justify-center">
    <%= image_tag 'logos/logo-inverted.png', class: "h-6 mb-3 mt-5", alt: "Logo" %>
  </div>
  <div class="flex mb-3 justify-center">
    <a href="#">
      <%= image_tag 'logos/Facebook.svg', class: "mx-4", alt: "Facebook logo" %>
    </a>
    <a href="#">
      <%= image_tag 'logos/Youtube.svg', class: "mx-4", alt: "Youtube logo" %>
    </a>
    <a href="#">
      <%= image_tag 'logos/Instagram.svg', class: "mx-4", alt: "Instagram logo" %>
    </a>
    <a href="#">
      <%= image_tag 'logos/Twitter.svg', class: "mx-4", alt: "Twitter logo" %>
    </a>
  </div>
  <div class="text-white font-montserrat text-sm text-center pb-5">
    Hecho con <3 por Ned
  </div>
</section>
